<body style="background-image: url('/Content/image/222.jpg');
            background-repeat: no-repeat;
            height: 100%;
            background-position: top;
            background-size: cover;">

    <div class="container" style="text-align: center;">
        <div class="row">
            <div id="rcorner" class="col-lg-8" style=" border-radius: 25px;
            text-align: center;
            border: 2px solid rgba(241, 235, 235, 0.2);
            width: auto;
            height: 350px;
            margin: auto;
            margin-top: 100px;
            background-color: rgba(241, 235, 235, 0.8);
            background-size: cover;">
                <br /><br />
                <h1>ENJOY OUR SERVICE FREELY FOREVER !</h1>
                <br /><br />
                <b style="font-size:large">This website serves train passengers , where the movement of trains is tracked by passenger on the train </b>

                <br /><br /><br />
                <span> ITP 1 --SHE--</span>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

