@model IEnumerable<AH.Models.TrainDirection>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDirections</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
          integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

    <style>
        body {
            background-image: url('/Content/Image/337.jpg');
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        td, th {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=" w-100 mx-auto mt-5 ">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="d-flex p-3 text-center mx-auto" style=" width:96%;background-color:rgba(114, 64, 74, 0.664);border-radius: 10px;">
                            <div class="col-lg-6">
                                <h2 class="text-white">Manage Train Directions</h2>
                            </div>
                            <div class="col-lg-6">
                                <a href="AddDirection" class="btn btn-success" style="font-size:1.2rem">Add direction</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive w-100 border border-danger " style="border-radius: 10px; background-color:white;font-size:1.2rem;">

                        <table class="table table-hover table-condensed">
                            <thead style="background-color:rgb(99, 202, 228);">
                                <tr>
                                    <th>#</th>
                                    <th>Direction Name</th>
                                    <th colspan="2"> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var direction in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => direction.ID)</td>
                                        <td>@Html.DisplayFor(i => direction.Name)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditDirection", new { DirectionId = direction.ID }, new { @class = "btn btn-warning" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteDirection", new { DirectionId = direction.ID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



